
// Colors
// Accents
$orange:  #c88623;
$teal:    #0ed2ae;
$violet:  #7314c8;
$ruby:    #a80315;

$accent-list:
    (ruby $ruby),
    (orange $orange),
    (teal $teal),
    (violet $violet);

$accent-default: $orange;

// Grays
$light:   #ccc;
$muted:   #626262;
$dark:    #191919;

// Spacing
$font-size-base: 2rem;
$spacer: 1rem;
$spacers: (
    20:  20px,
    40:  40px,
    60:  60px,
    80:  80px,
    120: 120px,
);


// Body
$body-color: $light;
$body-bg: $dark;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Fira Mono", sans-serif;
$link-color: $accent-default;
$text-muted: $muted;
$font-weight-light: 200;
$font-weight-normal: 200;
